<template >
  <div>
    <div class="form" style="width:500px; margin:30px 50px 30px;">
      <div class="form-group">
        <label for="longUrl">Paste your original URL here:</label>
        <input
          v-model="longUrl"
          type="text"
          name="longUrl"
          id="longUrl"
          class="form-control"
          placeholder="Long URL"
        />
        <small v-if="!longUrl" class="form-text text-muted">This field is required.</small>
      </div>

      <div class="form-group">
        <label for>Short url will be disabled after</label>
        <div>
          <label style="margin-right: 15px;">
            <input type="radio" name="expire_date" value="never" v-model="expire_date" checked /> Never
          </label>
          <label style="margin-right: 15px;">
            <input type="radio" name="expire_date" value="one_week" v-model="expire_date" /> One week
          </label>
          <label style="margin-right: 15px;">
            <input type="radio" name="expire_date" value="one_month" v-model="expire_date" /> One month
          </label>
        </div>
      </div>
      <button @click="store()" class="btn btn-primary">Shorter URL</button>
    </div>
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>ORIGINAL URL</th>
            <th>CREATED</th>
            <th>CLICKS</th>
            <th>SHORT URL</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in burls" :key="index">
            <th>{{ index + 1 }}</th>
            <th>
              <a :href="item.long_url" target="_blank">{{ item.long_url}}</a>
            </th>
            <th>{{ item.created_at}}</th>
            <th>{{ item.clicks}}</th>
            <th>
              <a
                :href="'/' + item.short_url"
                target="_blank"
                @click="item.clicks += 1"
              >{{ domain + item.short_url }}</a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
const axios = require('axios').default

export default {
  data () {
    return {
      longUrl: null,
      expire_date: 'never',
      burls: [],
      domain: window.location.href
    }
  },
  methods: {
    store () {
      if (this.longUrl) {
        axios
          .post(process.env.VUE_APP_SEVICE_URL + '/api/store', {
            long_url: this.longUrl,
            expire_date: this.expire_date
          })
          .then(res => {
            this.burls = res.data
            this.longUrl = null
            this.expire_date = 'never'
          })
          .catch(err => {
            console.error(err)
          })
      }
    },
    getBurls () {
      axios
        .get(process.env.VUE_APP_SEVICE_URL + '/api')
        .then(res => {
          this.burls = res.data
        })
        .catch(err => {
          console.error(err)
        })
    }
  },
  created () {
    this.getBurls()
  }
}
</script>
