<template>
  <div></div>
</template>

<script>
const axios = require('axios').default

export default {
  data () {
    return {
      longUrl: null,
      expire_date: null,
      burls: []
    }
  },
  created () {
    axios
      .get(process.env.VUE_APP_SEVICE_URL + '/api/get-long-url/' + this.$route.params.key)
      .then(res => {
        document.location = res.data
      })
      .catch(err => {
        console.error(err)
      })
  }
}
</script>
